# App Configuration
config.properties

# Project Configuration
*.iml
.idea/

# Database
*.db

# Binaries and Build Targets
target/
**/*.jar

# Maven
dependency-reduced-pom.xml

# NPM
node_modules/
npm-debug.log
