RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
# Append this list if you need any other excluded paths/aliasses
RewriteCond %{REQUEST_URI} !^/pagespeed.*$ [NC]
RewriteCond %{REQUEST_URI} !^/phpmyadmin.*$ [NC]
RewriteCond %{REQUEST_URI} !^/phpldapadmin.*$ [NC]
RewriteCond %{REQUEST_URI} !^/server-status.*$ [NC]
RewriteCond %{REQUEST_URI} !^/server-info.*$ [NC]
RewriteCond %{REQUEST_URI} !^/ldap-status.*$ [NC]
RewriteCond %{REQUEST_URI} !^/balancer-manager.*$ [NC]
RewriteRule ^ index.php [QSA,L]
